<div>
  <h2>Instructions</h2>
  <section>
    There are two font families you will be using for this assignment. They are Gilroy and Calistoga for
    <h3>Header</h3>
    text, use <span>Gilroy</span> For normal text, use Calistoga
  </section>

  <h2>Modules and component needed for the assignment have been imported as "EssentialsModule" in AppModule</h2>

  <h2>Below is a list of already-made components that you'll need for this assessments and the link to their documentation</h2>
  <section>
    <a href="https://showcase.thecyrano.app/buttons">Buttons</a>
    <a href="https://showcase.thecyrano.app/lib-chip">Chips(It is just a css class)</a>
    <a href="https://showcase.thecyrano.app/image-card">Image card</a>
  </section>
</div>
